<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Blog Backend</title>
</head>
<body>

    <nav id="nav-menu">
        <ul id="menu">
            <li>
                <a href=""><img src="../assets/img/logo/logo-index.svg" alt="logo website"></a>
            </li>
            <li>
                <input type="search" id="search-menu-index">
            </li>
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Tutorials</a>
            </li>
            <li>
                <a href="">About us</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href=""><i class="fa fa-sign-in"></i></a>
            </li>
        </ul>
    </nav>

    <header id="header-index">
        <img src="../assets/img/header-index.png" alt="image of a backend developer">
        <h1>Backend student's blog</h1>
        <h3>Let's start?</h3>
        <a href="#">Let's see</a>
    </header>

    <main>
        <section id="index-blog">
            <h2>Blog</h2>
            <article id="index-communication" class="index-blog-article">
                <h3>Communication</h3>
            </article>
            <article id="index-updates" class="index-blog-article">
                <h3>Updates</h3>
            </article>
            <article id="index-articles" class="index-blog-article">
                <h3>Articles</h3>
            </article>
            <a href="#">Go to Blog</a>
        </section>
    
        <section id="index-tutorials">
            <h2>Tutorials</h2>
            <article id="index-english" class="index-article-tutorials">
                <h3>English</h3>
                <p>
                    According to the 2021 State of the Developer Nation report, there were 24.3 million software developers in the world—a 20% increase from 2020. At that rate, it’s currently estimated that there will be 45 million software developers by 2030. 
                </p>
            </article>

            <article id="index-software" class="index-article-tutorials">
                <h3>Software Developer</h3>
                <p>
                    According to the 2021 State of the Developer Nation report, there were 24.3 million software developers in the world—a 20% increase from 2020. At that rate, it’s currently estimated that there will be 45 million software developers by 2030.
                </p>
            </article>

            <article id="index-science" class="index-article-tutorials">
                <h3>Maths and Physics</h3>
                <p>
                    According to the 2021 State of the Developer Nation report, there were 24.3 million software developers in the world—a 20% increase from 2020. At that rate, it’s currently estimated that there will be 45 million software developers by 2030.
                </p>
            </article>
        </section>

        <section id="index-projects">
            <h2>Projects</h2>
            <div class="statistics">

            </div>
            <div class="projects-view">

            </div>
            <a href="">See more on Github</a>
        </section>

        <section id="index-aboutus">
            <h2>About us</h2>
            <p>
                According to the 2021 State of the Developer Nation report, there were 24.3 million software developers in the world—a 20% increase from 2020. At that rate, it’s currently estimated that there will be 45 million software developers by 2030.
            </p>
        </section>
    </main>

    <footer>
        <form action="POST">

        </form>
        <div id="social-networks">
            <a href="https://facebook.com" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </footer>
    
</body>
</html>